---
http_interactions:
- request:
    method: get
    uri: https://api-fcpuat.coresense.com/v1/skuInventory?q%5B%5D=sku_id=0
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
    body:
      encoding: UTF-8
      string: '[{"location_id":113,"quantity":1,"sku_id":0,"status":"damaged","warehouse_id":1},{"location_id":1435012,"quantity":4,"sku_id":0,"status":"damaged","warehouse_id":11},{"location_id":2711895,"quantity":3,"sku_id":0,"status":"assigned","warehouse_id":0},{"location_id":2711897,"quantity":1,"sku_id":0,"status":"assigned","warehouse_id":0}]'
  recorded_at: Thu, 25 Jun 2026 12:35:15 GMT
[...]
- request:
    method: get
    uri: https://api-fcpuat.coresense.com/v1/skuInventory?q%5B%5D=sku_id=%200%20
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
    body:
      encoding: UTF-8
      string: '[{"location_id":113,"quantity":1,"sku_id":0,"status":"damaged","warehouse_id":1},{"location_id":1435012,"quantity":4,"sku_id":0,"status":"damaged","warehouse_id":11},{"location_id":2711895,"quantity":3,"sku_id":0,"status":"assigned","warehouse_id":0},{"location_id":2711897,"quantity":1,"sku_id":0,"status":"assigned","warehouse_id":0}]'
  recorded_at: Thu, 25 Jun 2026 12:35:16 GMT
recorded_with: VCR 6.4.0
