---
http_interactions:
- request:
    method: get
    uri: https://api-fcpuat.coresense.com/v1/skuInventory
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
    body:
      encoding: UTF-8
      string: '[{"location_id":113,"quantity":1,"sku_id":0,"status":"damaged","warehouse_id":1},{"location_id":1435012,"quantity":4,"sku_id":0,"status":"damaged","warehouse_id":11},{"location_id":0,"quantity":4,"sku_id":1,"status":"damaged","warehouse_id":1},{"location_id":356,"quantity":1,"sku_id":1,"status":"damaged","warehouse_id":1},{"location_id":5987,"quantity":1,"sku_id":1,"status":"damaged","warehouse_id":1},{"location_id":7717,"quantity":3,"sku_id":1,"status":"damaged","warehouse_id":1},{"location_id":9372,"quantity":1,"sku_id":1,"status":"damaged","warehouse_id":1},{"location_id":24565,"quantity":1,"sku_id":1,"status":"damaged","warehouse_id":1},{"location_id":0,"quantity":1,"sku_id":1,"status":"damaged","warehouse_id":6},{"location_id":0,"quantity":195,"sku_id":1,"status":"damaged","warehouse_id":11}]'
  recorded_at: Thu, 25 Jun 2026 12:35:14 GMT
- request:
    method: get
    uri: https://api-fcpuat.coresense.com/v1/skuInventory
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
    body:
      encoding: UTF-8
      string: '[{"location_id":113,"quantity":1,"sku_id":0,"status":"damaged","warehouse_id":1},{"location_id":1435012,"quantity":4,"sku_id":0,"status":"damaged","warehouse_id":11},{"location_id":0,"quantity":4,"sku_id":1,"status":"damaged","warehouse_id":1},{"location_id":356,"quantity":1,"sku_id":1,"status":"damaged","warehouse_id":1},{"location_id":5987,"quantity":1,"sku_id":1,"status":"damaged","warehouse_id":1},{"location_id":7717,"quantity":3,"sku_id":1,"status":"damaged","warehouse_id":1},{"location_id":9372,"quantity":1,"sku_id":1,"status":"damaged","warehouse_id":1},{"location_id":24565,"quantity":1,"sku_id":1,"status":"damaged","warehouse_id":1},{"location_id":0,"quantity":1,"sku_id":1,"status":"damaged","warehouse_id":6},{"location_id":0,"quantity":195,"sku_id":1,"status":"damaged","warehouse_id":11}]'
  recorded_at: Thu, 25 Jun 2026 12:35:15 GMT
recorded_with: VCR 6.4.0
