---
http_interactions:
- request:
    method: get
    uri: https://api-fcpuat.coresense.com/v1/channel/1
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
    body:
      encoding: UTF-8
      string: '{"access_level":0,"active":"1","brand_id":1,"channel_type":"web","data_table":"web_data","default_payment_processor_id":1,"icon_location":"images\/www_icon.gif","id":1,"label":"FCP
        Groton","module_location":"channels\/web_site\/web_site_manager.php3","module_type":"internal","record_table":"","shippo_account_id":"0","tax_exempt_allowed":false}'
  recorded_at: Thu, 25 Jun 2026 12:26:19 GMT
recorded_with: VCR 6.4.0
