---
http_interactions:
- request:
    method: get
    uri: https://api-fcpuat.coresense.com/v1/channel
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
    body:
      encoding: ASCII-8BIT
      string: '[{"access_level":0,"active":"1","brand_id":1,"channel_type":"web","data_table":"web_data","default_payment_processor_id":1,"icon_location":"images\/www_icon.gif","id":1,"label":"FCP
        Groton","module_location":"channels\/web_site\/web_site_manager.php3","module_type":"internal","record_table":"","shippo_account_id":"0","tax_exempt_allowed":false},{"access_level":0,"active":"1","brand_id":1,"channel_type":"soi","data_table":"soi_data","default_payment_processor_id":1,"icon_location":"images\/soi_icon.gif","id":2,"label":"Employee","module_location":"channels\/sales_order_interface\/sales_order_interface_manager.php3\u00a0\u00a0\u00a0\u00a0\u00a0","module_type":"internal","record_table":"","shippo_account_id":"0","tax_exempt_allowed":false},{"access_level":0,"active":"1","brand_id":1,"channel_type":"soi","data_table":"soi_data","def[...]
[...]
