---
http_interactions:
- request:
    method: get
    uri: https://api-fcpuat.coresense.com/v1/productInventoryStandard
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
    body:
      encoding: UTF-8
      string: '[{"active":true,"id":5,"option_id":15,"product_inventory_id":37648},{"active":true,"id":8,"option_id":16,"product_inventory_id":37651}]'
  recorded_at: Thu, 25 Jun 2026 12:34:45 GMT
- request:
    method: get
    uri: https://api-fcpuat.coresense.com/v1/productInventoryStandard
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
    body:
      encoding: UTF-8
      string: '[{"active":true,"id":5,"option_id":15,"product_inventory_id":37648},{"active":true,"id":8,"option_id":16,"product_inventory_id":37651}]'
  recorded_at: Thu, 25 Jun 2026 12:34:46 GMT
recorded_with: VCR 6.4.0
