---
http_interactions:
- request:
    method: post
    uri: https://api-fcpuat.coresense.com/v1/customer
    body:
      encoding: UTF-8
      string: '{"default_billing_contact":{"last_name":"test","first_name":"testy","email":"account@email.com"},"default_shipping_contact":{"last_name":"test","first_name":"testy","email":"account@email.com"}}'
    headers:
  response:
    status:
      code: 201
      message: Created
    headers:
      Content-Type:
      - application/json
    body:
      encoding: UTF-8
      string: '{"id":"2374473","uri":"http:\/\/api-fcpuat.coresense.com\/v1\/customer\/2374473"}'
  recorded_at: Thu, 25 Jun 2026 12:31:19 GMT
- request:
    method: get
    uri: https://api-fcpuat.coresense.com/v1/customer/2374473
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
    body:
      encoding: UTF-8
      string: '{"affiliate_id":0,"currency_rate":"USD","custom_account_manager":0,"custom_blocked":"no","custom_box_number":"","custom_campaign_opt_in":"no","custom_channel":"0","custom_default_payment_type":0,"custom_guest_shopper":false,"custom_invalid_emails":"no","custom_on_account":"no","custom_tax_exempt":"no","custom_tax_exempt_number":"","custom_winter2012promo":"no","custom_wishlist_temp_order_num":0,"customer_billing_exported":false,"customer_shipping_exported":false,"customer_tier_id":0,"default_billing_contact_id":6339528,"default_preorder_contact_id":0,"default_shipping_contact_id":6339529,"employee_number":null,"id":"2374473","last_key_code":"","last_modified":"","originating_brand_id":0,"product_upsell_last_sent":"","source_code":"","stamp":""}'
  recorded_at: Thu, 25 Jun 2026 12:31:20 GMT
recorded_with: VCR 6.4.0
