---
http_interactions:
- request:
    method: get
    uri: https://api-fcpuat.coresense.com/v1/customer
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
    body:
      encoding: ASCII-8BIT
      string: '[{"affiliate_id":0,"currency_rate":"","custom_account_manager":0,"custom_blocked":"no","custom_box_number":"","custom_campaign_opt_in":"","custom_channel":"1","custom_default_payment_type":0,"custom_guest_shopper":false,"custom_invalid_emails":"yes","custom_on_account":"no","custom_tax_exempt":"no","custom_tax_exempt_number":"","custom_winter2012promo":"","custom_wishlist_temp_order_num":0,"customer_billing_exported":false,"customer_shipping_exported":false,"customer_tier_id":0,"default_billing_contact_id":2229341,"default_preorder_contact_id":0,"default_shipping_contact_id":2229341,"employee_number":"","id":"1","last_key_code":"","last_modified":"2021-09-24T09:08:48-04:00","originating_brand_id":0,"product_upsell_last_sent":"","source_code":"","stamp":"2012-01-24T14:19:53-05:00"},{"affiliate_id":0,"currency_rate":"","custom_account_manager":0,"custom_blocked":"no","custom_box_number":"","custom_campaign_opt_in":"no","custom_channel":"0","custom_default_payment_type":1,"custom_guest_shopper":false,"custom_invalid_emails":"yes","custom_on_account":"no","custom_tax_exempt":"no","custom_tax_exempt_number":"","custom_winter2012promo":"","custom_wishlist_temp_order_num":0,"customer_billing_exported":false,"customer_shipping_exported":false,"custome[...]
[...]
