---
http_interactions:
- request:
    method: get
    uri: https://api-fcpuat.coresense.com/v1/locationType?q%5B%5D=id=93
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
    body:
      encoding: UTF-8
      string: '[{"add_to_labels":"yes","depth":0,"description":"Warranty Bins","height":0,"id":93,"label":"Warranty
        Bins","warehouse_id":3,"width":0}]'
  recorded_at: Thu, 25 Jun 2026 12:33:08 GMT
[...]
- request:
    method: get
    uri: https://api-fcpuat.coresense.com/v1/locationType?q%5B%5D=id=%2093%20
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
    body:
      encoding: UTF-8
      string: '[{"add_to_labels":"yes","depth":0,"description":"Warranty Bins","height":0,"id":93,"label":"Warranty
        Bins","warehouse_id":3,"width":0}]'
  recorded_at: Thu, 25 Jun 2026 12:33:11 GMT
recorded_with: VCR 6.4.0
