---
http_interactions:
- request:
    method: get
    uri: https://api-fcpuat.coresense.com/v1/locationType
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
    body:
      encoding: ASCII-8BIT
      string: '[{"add_to_labels":"yes","depth":0,"description":"Warranty Bins","height":0,"id":93,"label":"Warranty
        Bins","warehouse_id":3,"width":0},{"add_to_labels":"yes","depth":0,"description":"","height":0,"id":94,"label":"Vendor
        Bin","warehouse_id":3,"width":0},{"add_to_labels":"yes","depth":0,"description":"","height":0,"id":108,"label":"Pallet","warehouse_id":7,"width":0},{"add_to_labels":"yes","depth":0,"description":"","height":0,"id":109,"label":"Pallet","warehouse_id":7,"width":0},{"add_to_labels":"yes","depth":0,"description":"","height":0,"id":166,"label":"","warehouse_id":3,"width":0},{"add_to_labels":"no","depth":0,"description":"","height":0,"id":213,"label":"Warranty
        Locations","warehouse_id":12,"width":0},{"add_to_labels":"no","depth":0,"description":"","height":0,"id":214,"label":"Bin","warehouse_id":12,"width":0},{"add_to_labels":"yes","depth":0,"description":"","height":0,"id":261,"label":"3PL-NJ","warehouse_id":15,"width":0},{"add_to_labels":"yes","depth":0,"description":"","height":0,"id":262,"label":"3PL-SLC","warehouse_id":16,"width":0},{"add_to_labels":"yes","depth":0,"description":"","height":0,"id":263,"label":"3PL-TX","warehouse_id":17,"width":0}]'
  recorded_at: Thu, 25 Jun 2026 12:33:04 GMT
[...]
