---
http_interactions:
- request:
    method: get
    uri: https://api-fcpuat.coresense.com/v1/brand?q%5B%5D=id=1
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
    body:
      encoding: UTF-8
      string: '[{"custom_address":"155 Hill Street\r\nMilford, CT 06460","custom_company_name":"FCP
        Euro","custom_logo_url":"https:\/\/s3.amazonaws.com\/fcp-creative\/misc\/fcp-euro_invoice_logo.jpg","custom_main_email_address":"sales@fcpeuro.com","custom_main_fax":"","custom_main_phone":"1-877-634-0063","custom_payment_processor_statement_description":"","custom_web_site_url":"http:\/\/www.fcpeuro.com","fully_shipped_email_template":0,"id":1,"label":"FCP
        Euro","partially_shipped_email_template":0,"status":"active","website_gift_certificate_template":0}]'
  recorded_at: Thu, 25 Jun 2026 12:25:49 GMT
[...]
- request:
    method: get
    uri: https://api-fcpuat.coresense.com/v1/brand?q%5B%5D=id=%201%20
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
    body:
      encoding: UTF-8
      string: '[{"custom_address":"155 Hill Street\r\nMilford, CT 06460","custom_company_name":"FCP
        Euro","custom_logo_url":"https:\/\/s3.amazonaws.com\/fcp-creative\/misc\/fcp-euro_invoice_logo.jpg","custom_main_email_address":"sales@fcpeuro.com","custom_main_fax":"","custom_main_phone":"1-877-634-0063","custom_payment_processor_statement_description":"","custom_web_site_url":"http:\/\/www.fcpeuro.com","fully_shipped_email_template":0,"id":1,"label":"FCP
        Euro","partially_shipped_email_template":0,"status":"active","website_gift_certificate_template":0}]'
  recorded_at: Thu, 25 Jun 2026 12:25:51 GMT
recorded_with: VCR 6.4.0
