---
http_interactions:
- request:
    method: get
    uri: https://api-fcpuat.coresense.com/v1/orderShippingDetail
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
    body:
      encoding: ASCII-8BIT
      string: '[{"delayed_delivery_date":"0000-00-00","estimated_delivery_date":null,"estimated_shipping_date":null,"id":1,"order_num":1000,"pickup_warehouse_id":0,"saved_shipping_tax_rate":"0.000","shipping_contact_id":1,"shipping_cost":"0.00","shipping_method_id":1},{"delayed_delivery_date":"0000-00-00","estimated_delivery_date":null,"estimated_shipping_date":null,"id":2,"order_num":1001,"pickup_warehouse_id":0,"saved_shipping_tax_rate":"0.000","shipping_contact_id":16,"shipping_cost":"7.25","shipping_method_id":1},{"delayed_delivery_date":"0000-00-00","estimated_delivery_date":null,"estimated_shipping_date":null,"id":3,"order_num":1002,"pickup_warehouse_id":0,"saved_shipping_tax_rate":"0.000","shipping_contact_id":1376236,"shipping_cost":"0.00","shippin[...]
[...]
