---
http_interactions:
- request:
    method: get
    uri: https://api-fcpuat.coresense.com/v1/orderShippingDetail?q%5B%5D=id=1000
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
    body:
      encoding: UTF-8
      string: '[{"delayed_delivery_date":"0000-00-00","estimated_delivery_date":null,"estimated_shipping_date":null,"id":1000,"order_num":1999,"pickup_warehouse_id":0,"saved_shipping_tax_rate":"0.000","shipping_contact_id":1179833,"shipping_cost":"7.90","shipping_method_id":32}]'
  recorded_at: Thu, 25 Jun 2026 12:34:29 GMT
[...]
- request:
    method: get
    uri: https://api-fcpuat.coresense.com/v1/orderShippingDetail?q%5B%5D=id=%201000%20
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
    body:
      encoding: UTF-8
      string: '[{"delayed_delivery_date":"0000-00-00","estimated_delivery_date":null,"estimated_shipping_date":null,"id":1000,"order_num":1999,"pickup_warehouse_id":0,"saved_shipping_tax_rate":"0.000","shipping_contact_id":1179833,"shipping_cost":"7.90","shipping_method_id":32}]'
  recorded_at: Thu, 25 Jun 2026 12:34:31 GMT
recorded_with: VCR 6.4.0
