---
http_interactions:
- request:
    method: post
    uri: https://api-fcpuat.coresense.com/v1/payment
    body:
      encoding: UTF-8
      string: '{"assoc_entity":"order","assoc_entity_id":1000,"payment":0.21,"payment_process_message":"xyz23-R2324","receivable_type_id":12}'
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - text/html; charset=UTF-8
    body:
      encoding: UTF-8
      string: '{"id":"11182842"}'
  recorded_at: Thu, 25 Jun 2026 12:34:35 GMT
- request:
    method: get
    uri: https://api-fcpuat.coresense.com/v1/payment/11182842
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
    body:
      encoding: UTF-8
      string: '{"assoc_entity":"order","assoc_entity_id":1000,"category":"","check_num":"0","client_id":1,"id":11182842,"memo":"created
        via CREST API","payee":"","payment":"0.21","payment_gateway_response":null,"payment_process_auth_code":null,"payment_process_message":"xyz23-R2324","payment_process_message_type":"message","payment_process_status":"n\/a","payment_process_transaction_id":null,"payment_processor_id":0,"pos_id":0,"receivable_type_id":12,"stamp":"2026-06-25T08:34:35-04:00","user":"","void":false}'
  recorded_at: Thu, 25 Jun 2026 12:34:36 GMT
recorded_with: VCR 6.4.0
