---
http_interactions:
- request:
    method: get
    uri: https://api-fcpuat.coresense.com/v1/payment
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
    body:
      encoding: ASCII-8BIT
      string: '[{"assoc_entity":"order","assoc_entity_id":1001,"category":"Order Payment","check_num":"0","client_id":17,"id":28,"memo":"Payment
        for Order #1001","payee":"","payment":"38.25","payment_gateway_response":"","payment_process_auth_code":"018924","payment_process_message":"Address
        (Street) and 5 digit ZIP match","payment_process_message_type":"message","payment_process_status":"captured","payment_process_transaction_id":"1769485928","payment_processor_id":1,"pos_id":0,"receivable_type_id":5,"stamp":"2008-03-18T12:00:02-04:00","user":"api","void":false},{"assoc_entity":"order","assoc_entity_id":1002,"category":"Order
        Payment","check_num":"0","client_id":21,"id":29,"memo":"Payment for Order
        #1002","payee":"","payment":"200.50","payment_gateway_response":"","payment_process_auth_code":"100052","payment_process_message":"Address
        (Street) and 5 digit ZIP match","payment_process_message_type":"message","payment_process_status":"captured","payment_process_transaction_id":"1769610375","payment_processor_id":1,"pos_id":0,[...]
[...]
