---
http_interactions:
- request:
    method: get
    uri: https://api-fcpuat.coresense.com/v1/barcode/1556
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
    body:
      encoding: UTF-8
      string: '{"barcode":"4048511085013","id":1556,"product_id":214662,"stamp":"2023-07-12T12:40:51-04:00"}'
  recorded_at: Thu, 25 Jun 2026 12:25:28 GMT
recorded_with: VCR 6.4.0
