---
http_interactions:
- request:
    method: get
    uri: https://api-fcpuat.coresense.com/v1/receivableType/1
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
    body:
      encoding: UTF-8
      string: '{"abbrev":"AMEX","class":"credit card","default_payment_processor_id":0,"id":1,"label":"American
        Express","payment_type_id":1}'
  recorded_at: Thu, 25 Jun 2026 12:34:56 GMT
recorded_with: VCR 6.4.0
