---
http_interactions:
- request:
    method: post
    uri: https://api-fcpuat.coresense.com/v1/comment
    body:
      encoding: UTF-8
      string: '{"message":"test message","rep":"website","type":"Other","assoc_entity":"order","assoc_entity_id":1728371,"privacy":"private"}'
    headers:
  response:
    status:
      code: 201
      message: Created
    headers:
      Content-Type:
      - application/json
    body:
      encoding: UTF-8
      string: '{"id":"55951787","uri":"http:\/\/api-fcpuat.coresense.com\/v1\/comment\/55951787"}'
  recorded_at: Thu, 25 Jun 2026 12:26:40 GMT
- request:
    method: get
    uri: https://api-fcpuat.coresense.com/v1/comment/55951787
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
    body:
      encoding: UTF-8
      string: '{"assoc_entity":"order","assoc_entity_id":1728371,"code":0,"id":55951787,"message":"test
        message","privacy":"private","rep":"website","stamp":"","type":"Other"}'
  recorded_at: Thu, 25 Jun 2026 12:26:40 GMT
recorded_with: VCR 6.4.0
