---
http_interactions:
- request:
    method: get
    uri: https://api-fcpuat.coresense.com/v1/comment/1662535
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
    body:
      encoding: UTF-8
      string: '{"assoc_entity":"order","assoc_entity_id":1727330,"code":0,"id":1662535,"message":"ZF
        out of stock","privacy":"private","rep":"ashishv","stamp":"2019-07-29T06:13:26-04:00","type":"Support"}'
  recorded_at: Thu, 25 Jun 2026 12:26:35 GMT
recorded_with: VCR 6.4.0
