---
http_interactions:
- request:
    method: get
    uri: https://api-fcpuat.coresense.com/v1/comment
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
    body:
      encoding: ASCII-8BIT
      string: '[{"assoc_entity":"order","assoc_entity_id":1000,"code":0,"id":7,"message":"This
        order received free shipping","privacy":"private","rep":"","stamp":"2008-03-18T00:50:00-04:00","type":"Support"},{"assoc_entity":"order","assoc_entity_id":1002,"code":0,"id":8,"message":"This
        order received free shipping","privacy":"private","rep":"","stamp":"2008-03-18T06:05:51-04:00","type":"Support"},{"assoc_entity":"order","assoc_entity_id":1002,"code":0,"id":9,"message":"Just-in-time
        Fulfillment Automation Failed: Default Template missing on Vendor: Chase Parkway","privacy":"private","rep":"AUTOMATED","stamp":"2008-03-18T06:30:03-04:00","type":"Other"},{"assoc_entity":"order[...]
[...]
