---
http_interactions:
- request:
    method: get
    uri: https://api-fcpuat.coresense.com/v1/productConfigurationOptionType
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
    body:
      encoding: UTF-8
      string: '[{"id":1,"label":"Size","order_data_field":"size","web_display_text":null},{"id":2,"label":"Email
        address to email Kindle ebooks to.","order_data_field":"kindle_email_to","web_display_text":null},{"id":3,"label":"Email
        address to email Kindle ebooks from.","order_data_field":"kindle_email_from","web_display_text":null}]'
  recorded_at: Thu, 25 Jun 2026 12:34:37 GMT
- request:
    method: get
    uri: https://api-fcpuat.coresense.com/v1/productConfigurationOptionType
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
    body:
      encoding: UTF-8
      string: '[{"id":1,"label":"Size","order_data_field":"size","web_display_text":null},{"id":2,"label":"Email
        address to email Kindle ebooks to.","order_data_field":"kindle_email_to","web_display_text":null},{"id":3,"label":"Email
        address to email Kindle ebooks from.","order_data_field":"kindle_email_from","web_display_text":null}]'
  recorded_at: Thu, 25 Jun 2026 12:34:38 GMT
recorded_with: VCR 6.4.0
