---
http_interactions:
- request:
    method: get
    uri: https://api-fcpuat.coresense.com/v1/productConfigurationOptionType?q%5B%5D=id=1
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
    body:
      encoding: UTF-8
      string: '[{"id":1,"label":"Size","order_data_field":"size","web_display_text":null}]'
  recorded_at: Thu, 25 Jun 2026 12:34:38 GMT
[...]
- request:
    method: get
    uri: https://api-fcpuat.coresense.com/v1/productConfigurationOptionType?q%5B%5D=id=%201%20
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
    body:
      encoding: UTF-8
      string: '[{"id":1,"label":"Size","order_data_field":"size","web_display_text":null}]'
  recorded_at: Thu, 25 Jun 2026 12:34:39 GMT
recorded_with: VCR 6.4.0
