---
http_interactions:
- request:
    method: get
    uri: https://api-fcpuat.coresense.com/v1/productInventoryUpgrade
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
    body:
      encoding: UTF-8
      string: '[{"active":true,"id":1,"option_id":16,"product_inventory_id":37643},{"active":true,"id":2,"option_id":14,"product_inventory_id":37644},{"active":true,"id":3,"option_id":18,"product_inventory_id":37645}]'
  recorded_at: Thu, 25 Jun 2026 12:34:49 GMT
- request:
    method: get
    uri: https://api-fcpuat.coresense.com/v1/productInventoryUpgrade
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
    body:
      encoding: UTF-8
      string: '[{"active":true,"id":1,"option_id":16,"product_inventory_id":37643},{"active":true,"id":2,"option_id":14,"product_inventory_id":37644},{"active":true,"id":3,"option_id":18,"product_inventory_id":37645}]'
  recorded_at: Thu, 25 Jun 2026 12:34:50 GMT
recorded_with: VCR 6.4.0
