---
http_interactions:
- request:
    method: get
    uri: https://api-fcpuat.coresense.com/v1/shipment
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
    body:
      encoding: ASCII-8BIT
      string: '[{"arrival_date":"","assoc_entity":"order","assoc_entity_id":1001,"carrier_account_id":0,"cod_tracking_num":"","cost":0,"custom_cost_mps":"0.00","custom_shipium_id":"","custom_shipium_id_mps":"","custom_shipment_cube":"","custom_shipment_pick_area":"","custom_tracking_num_mps":"","destination":"shipping
        address","destination_id":0,"exported":true,"id":142,"method_id":1,"needs_recalculation":false,"pack_confirmation_stamp":"0000-00-00
        00:00:00","pack_confirmation_user_id":null,"picked_up_date":"2026-06-25T08:35:04-04:00","ship_date":"2008-03-18T00:00:00-04:00","smartpost_tracking_num":"","source":"warehouse","source_id":1,"stamp":"","status":"shipped","tracking_num":"1Z745T9T0363387156","transit_time":0,"validated":false,"workflow_state_id":0},{"arrival_date":"","assoc_entity":"order","assoc_entity_id":1003,"carrier_account_id":0,"cod_tracking_num":"","cost":0,"custom_cost_mps":"0.00","custom_shipium_id":"","custom_shipium_id_mps":"","custom_shipment_cube":"","custom_shipment_pick_area":"","custom_tracking_num_mps":"","destination":"shipping
        address","destination_id":0,"exported":true,"id":152,"method_id":1,"needs_recalculation":false,"pack_confirmation_stamp":"0000-00-00
        00:00:00","pack_confirmation_user_id":null,"[...]
[...]
