---
http_interactions:
- request:
    method: get
    uri: https://api-fcpuat.coresense.com/v1/orderItem/67
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
    body:
      encoding: UTF-8
      string: '{"amazon_order_item_id":"","base_price":324.99,"channel_id":1,"closed":false,"cogs":"0.00000","delivery_date":"2026-06-25T08:34:14-04:00","delivery_timing":"future
        shipment","id":67,"iha_product_overridden":false,"model_id":15940,"order_num":1000,"quantity":1,"return_price":"324.99","returned":false,"sales_tax":"0.000","sales_tax_total":"0.0000","salesman":0,"stamp":"2008-03-18T00:50:00-04:00","total":324.99}'
  recorded_at: Thu, 25 Jun 2026 12:34:14 GMT
recorded_with: VCR 6.4.0
