---
http_interactions:
- request:
    method: get
    uri: https://api-fcpuat.coresense.com/v1/affiliate/1
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
    body:
      encoding: UTF-8
      string: '{"active":true,"address1":"","address2":"","city":"","commission_rate_id":2,"company_name":"","contact_first_name":"","contact_last_name":"","country_id":0,"email":"scottd@fcpgroton.com","fax":"","id":1,"password":"sCn627qd.XgwQ","payment_notification_template_id":0,"phone":"","sale_notification":0,"sale_notification_template_id":60,"state_id":0,"url":"http:\/\/www.fcpgroton.com","username":"Scott
        Drozd","zip":""}'
  recorded_at: Thu, 25 Jun 2026 12:24:43 GMT
recorded_with: VCR 6.4.0
