---
http_interactions:
- request:
    method: get
    uri: https://api-fcpuat.coresense.com/v1/warehouse/1
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
    body:
      encoding: UTF-8
      string: '{"active":"1","available_for_backorder":"yes","available_for_fulfillment":false,"available_for_pickup":"yes","default_damaged_inventory_location_id":0,"distribution_center_id":0,"fedex_smartpost_hub_id":0,"fulfillment_priority":3,"id":1,"is_distribution_center":false,"label":"New
        Returns","lat":0,"location_hierarchy_id":12,"lon":0,"main_fax":"","main_phone":"877-634-0063","requires_liftgate":true,"ship_address1":"155
        Hill St ","ship_address2":"Suite 7","ship_city":"Milford","ship_country":1,"ship_state":14,"ship_zip":"06460","timezone":"","type":"warehouse"}'
  recorded_at: Thu, 25 Jun 2026 12:35:26 GMT
recorded_with: VCR 6.4.0
