---
http_interactions:
- request:
    method: get
    uri: https://api-fcpuat.coresense.com/v1/warehouse
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
    body:
      encoding: ASCII-8BIT
      string: '[{"active":"1","available_for_backorder":"yes","available_for_fulfillment":false,"available_for_pickup":"yes","default_damaged_inventory_location_id":0,"distribution_center_id":0,"fedex_smartpost_hub_id":0,"fulfillment_priority":3,"id":1,"is_distribution_center":false,"label":"New
        Returns","lat":0,"location_hierarchy_id":12,"lon":0,"main_fax":"","main_phone":"877-634-0063","requires_liftgate":true,"ship_address1":"155
        Hill St ","ship_address2":"Suite 7","ship_city":"Milford","ship_country":1,"ship_state":14,"ship_zip":"06460","timezone":"","type":"warehouse"},{"active":"1","available_for_backorder":"yes","available_for_fulfillment":true,"available_for_pickup":"yes","default_damaged_inventory_location_id":0,"distribution_center_id":0,"fedex_smartpost_hub_id":0,"fulfillment_priority":1,"id":11,"is_distribution_center":false,"label":"FCP
        Euro WHSE - Milford","lat":0,"location_hierarchy_id":4,"lon":0,"main_fax":"","main_phone":"860-661-2007","requires_liftgate":false,"ship_address1":"155
        Hill Street","ship_address2":"Suite 7"[...]
[...]
