---
http_interactions:
- request:
    method: get
    uri: https://api-fcpuat.coresense.com/v1/shippingMethod
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
    body:
      encoding: ASCII-8BIT
      string: '[{"active":true,"carrier_method_id":3,"cod":false,"code":"CUST","exclude_product":false,"export_to_worldship":"1","force_volume_packing":0,"handling_charge":0,"handling_charge_type_id":1,"id":1,"label":"Ground
        Shipping","malvern_method":false,"one_rate":"0","pickup":"1","pos_method":false,"production_cutoff_time":"15:00:00","production_time":"","saturday_delivery":false,"shipium_ship_option":"FCP3D","shipping_cutoff_time":"15:00:00","shippo_method":"0","trueship_method":false,"type":"ups","valid_for_po_apo_fpo":false},{"active":true,"carrier_method_id":8,"cod":false,"code":"CUST","exclude_product":false,"export_to_worldship":"1","force_volume_packing":0,"handling_charge":0,"handling_charge_type_id":1,"id":2,"label":"Next
        Day Air","malvern_method":false,"one_rate":"0","pickup":"1","pos_method":false,"production_cutoff_time":"15:00:00","production_time":"","saturday_delivery":false,"shipium_ship_option":"FCP1DE","shipping_cutoff_time":"15:00:00","shippo_method":"0","trueship_method":false,"type":[...]
[...]
