---
http_interactions:
- request:
    method: post
    uri: https://api-fcpuat.coresense.com/v1/orderAdjustment
    body:
      encoding: UTF-8
      string: '{"amount":2,"description":"coupon","order_num":1001,"type":3,"recalculate_tax":0}'
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - text/html; charset=UTF-8
    body:
      encoding: UTF-8
      string: '{"id":"656610"}'
  recorded_at: Thu, 25 Jun 2026 12:33:49 GMT
- request:
    method: get
    uri: https://api-fcpuat.coresense.com/v1/orderAdjustment/656610
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
    body:
      encoding: UTF-8
      string: '{"amount":2,"description":"coupon","id":656610,"loyalty_points":0,"order_num":1001,"reward_id":0,"stamp":"2026-06-25T08:33:48-04:00","type":3,"user":""}'
  recorded_at: Thu, 25 Jun 2026 12:33:50 GMT
recorded_with: VCR 6.4.0
