---
http_interactions:
- request:
    method: get
    uri: https://api-fcpuat.coresense.com/v1/orderAdjustment/2
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
    body:
      encoding: UTF-8
      string: '{"amount":-30,"description":"","id":2,"loyalty_points":0,"order_num":1097,"reward_id":0,"stamp":"2008-03-19T08:39:44-04:00","type":0,"user":"sdrozd"}'
  recorded_at: Thu, 25 Jun 2026 12:33:43 GMT
recorded_with: VCR 6.4.0
