---
http_interactions:
- request:
    method: get
    uri: https://api-fcpuat.coresense.com/v1/manufacturer
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
    body:
      encoding: UTF-8
      string: '[{"custom_manufacturer_country":"","id":1,"name":"A&B","stamp":""},{"custom_manufacturer_country":"","id":2,"name":"Aceomatic","stamp":""},{"custom_manufacturer_country":"","id":3,"name":"Aftermarket","stamp":""},{"custom_manufacturer_country":"","id":4,"name":"Aisin","stamp":""},{"custom_manufacturer_country":"","id":5,"name":"Akebono","stamp":""},{"custom_manufacturer_country":"","id":6,"name":"APA","stamp":""},{"custom_manufacturer_country":"","id":7,"name":"ATE","stamp":""},{"custom_manufacturer_country":"","id":8,"name":"Atlantic
        Enterprises","stamp":""},{"custom_manufacturer_country":"","id":9,"name":"Balo","stamp":""},{"custom_manufacturer_country":"","id":10,"name":"Beck
        Arnley","stamp":""}]'
  recorded_at: Thu, 25 Jun 2026 12:33:25 GMT
- request:
    method: get
    uri: https://api-fcpuat.coresense.com/v1/manufacturer
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
    body:
      encoding: UTF-8
      string: '[{"custom_manufacturer_country":"","id":1,"name":"A&B","stamp":""},{"custom_manufacturer_country":"","id":2,"name":"Aceomatic","stamp":""},{"custom_manufacturer_country":"","id":3,"name":"Aftermarket","stamp":""},{"custom_manufacturer_country":"","id":4,"name":"Aisin","stamp":""},{"custom_manufacturer_country":"","id":5,"name":"Akebono","stamp":""},{"custom_manufacturer_country":"","id":6,"name":"APA","stamp":""},{"custom_manufacturer_country":"","id":7,"name":"ATE","stamp":""},{"custom_manufacturer_country":"","id":8,"name":"Atlantic
        Enterprises","stamp":""},{"custom_manufacturer_country":"","id":9,"name":"Balo","stamp":""},{"custom_manufacturer_country":"","id":10,"name":"Beck
        Arnley","stamp":""}]'
  recorded_at: Thu, 25 Jun 2026 12:33:26 GMT
recorded_with: VCR 6.4.0
