---
http_interactions:
- request:
    method: get
    uri: https://api-fcpuat.coresense.com/v1/manufacturer?q%5B%5D=id=1
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
    body:
      encoding: UTF-8
      string: '[{"custom_manufacturer_country":"","id":1,"name":"A&B","stamp":""}]'
  recorded_at: Thu, 25 Jun 2026 12:33:27 GMT
[...]
- request:
    method: get
    uri: https://api-fcpuat.coresense.com/v1/manufacturer?q%5B%5D=id=%201%20
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
    body:
      encoding: UTF-8
      string: '[{"custom_manufacturer_country":"","id":1,"name":"A&B","stamp":""}]'
  recorded_at: Thu, 25 Jun 2026 12:33:29 GMT
recorded_with: VCR 6.4.0
