---
http_interactions:
- request:
    method: get
    uri: https://api-fcpuat.coresense.com/v1/shipmentBox
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
    body:
      encoding: UTF-8
      string: '[{"depth":6,"height":10,"id":145,"shipment_id":142,"tracking_num":"","weight":1,"width":8},{"depth":20,"height":4,"id":155,"shipment_id":152,"tracking_num":"","weight":2.62,"width":4},{"depth":4,"height":6,"id":158,"shipment_id":155,"tracking_num":"","weight":1,"width":4},{"depth":6,"height":24,"id":163,"shipment_id":160,"tracking_num":"","weight":3.58,"width":12},{"depth":20,"height":4,"id":165,"shipment_id":162,"tracking_num":"","weight":4,"width":4},{"depth":20,"height":4,"id":171,"shipment_id":168,"tracking_num":"","weight":11.48,"width":4},{"depth":4,"height":6,"id":175,"shipment_id":172,"tracking_num":"","weight":0.25,"width":4},{"depth":20,"height":4,"id":178,"shipment_id":175,"tracking_num":"","weight":2.05,"width":4},{"depth":6,"height":10,"id":180,"shipment_id":177,"tracking_num":"","weight":1.28,"width":8},{"depth":4,"height":6,"id":182,"shipment_id":179,"tracking_num":"","weight":0.75,"width":4}]'
  recorded_at: Thu, 25 Jun 2026 12:35:07 GMT
- request:
    method: get
    uri: https://api-fcpuat.coresense.com/v1/shipmentBox
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
    body:
      encoding: UTF-8
      string: '[{"depth":6,"height":10,"id":145,"shipment_id":142,"tracking_num":"","weight":1,"width":8},{"depth":20,"height":4,"id":155,"shipment_id":152,"tracking_num":"","weight":2.62,"width":4},{"depth":4,"height":6,"id":158,"shipment_id":155,"tracking_num":"","weight":1,"width":4},{"depth":6,"height":24,"id":163,"shipment_id":160,"tracking_num":"","weight":3.58,"width":12},{"depth":20,"height":4,"id":165,"shipment_id":162,"tracking_num":"","weight":4,"width":4},{"depth":20,"height":4,"id":171,"shipment_id":168,"tracking_num":"","weight":11.48,"width":4},{"depth":4,"height":6,"id":175,"shipment_id":172,"tracking_num":"","weight":0.25,"width":4},{"depth":20,"height":4,"id":178,"shipment_id":175,"tracking_num":"","weight":2.05,"width":4},{"depth":6,"height":10,"id":180,"shipment_id":177,"tracking_num":"","weight":1.28,"width":8},{"depth":4,"height":6,"id":182,"shipment_id":179,"tracking_num":"","weight":0.75,"width":4}]'
  recorded_at: Thu, 25 Jun 2026 12:35:08 GMT
recorded_with: VCR 6.4.0
