---
http_interactions:
- request:
    method: get
    uri: https://api-fcpuat.coresense.com/v1/shipmentBox?q%5B%5D=id=145
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
    body:
      encoding: UTF-8
      string: '[{"depth":6,"height":10,"id":145,"shipment_id":142,"tracking_num":"","weight":1,"width":8}]'
  recorded_at: Thu, 25 Jun 2026 12:35:08 GMT
[...]
- request:
    method: get
    uri: https://api-fcpuat.coresense.com/v1/shipmentBox?q%5B%5D=id=%20145%20
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
    body:
      encoding: UTF-8
      string: '[{"depth":6,"height":10,"id":145,"shipment_id":142,"tracking_num":"","weight":1,"width":8}]'
  recorded_at: Thu, 25 Jun 2026 12:35:09 GMT
recorded_with: VCR 6.4.0
