---
http_interactions:
- request:
    method: get
    uri: https://api-fcpuat.coresense.com/v1/country/1
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
    body:
      encoding: UTF-8
      string: '{"code_iso_alpha_2":"US","code_iso_alpha_3":"USA","code_un_numeric":"840","country":"United
        States","custom_tariff":"1.0000","custom_tariff_2":"1.0000","id":1}'
  recorded_at: Thu, 25 Jun 2026 12:27:10 GMT
recorded_with: VCR 6.4.0
