---
http_interactions:
- request:
    method: post
    uri: https://api-fcpuat.coresense.com/v1/contact
    body:
      encoding: UTF-8
      string: '{"last_name":"test","first_name":"testy","customer_id":1}'
    headers:
  response:
    status:
      code: 201
      message: Created
    headers:
      Content-Type:
      - application/json
    body:
      encoding: UTF-8
      string: '{"id":"6339527","uri":"http:\/\/api-fcpuat.coresense.com\/v1\/contact\/6339527"}'
  recorded_at: Thu, 25 Jun 2026 12:26:59 GMT
- request:
    method: get
    uri: https://api-fcpuat.coresense.com/v1/contact/6339527
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
    body:
      encoding: UTF-8
      string: '{"active":true,"address_line_1":null,"address_line_2":null,"business_phone":null,"city":null,"company":null,"country_id":0,"created_stamp":"0000-00-00
        00:00:00","custom_customer_type":"0","custom_customer_vehicle":"","custom_ups_claim":"no","custom_vehicle":"","customer_id":1,"date_of_birth":"2026-06-25T08:26:59-04:00","email":null,"fax":null,"first_name":"testy","id":6339527,"label":null,"last_name":"test","phone":null,"postal_code":null,"requires_liftgate":false,"residential_address":false,"state_id":0,"verified":false}'
  recorded_at: Thu, 25 Jun 2026 12:26:59 GMT
recorded_with: VCR 6.4.0
