---
http_interactions:
- request:
    method: get
    uri: https://api-fcpuat.coresense.com/v1/contact
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
    body:
      encoding: ASCII-8BIT
      string: '[{"active":false,"address_line_1":"125 high rock ave","address_line_2":"","business_phone":"","city":"saratoga","company":"","country_id":1,"created_stamp":"0000-00-00
        00:00:00","custom_customer_type":"0","custom_customer_vehicle":"","custom_ups_claim":"no","custom_vehicle":"","customer_id":1,"date_of_birth":"2026-06-25T08:26:52-04:00","email":"dcouchman@coresense.com","fax":"","first_name":"dave","id":1,"label":"default","last_name":"couchman","phone":"518-330-9363","postal_code":"12866","requires_liftgate":true,"residential_address":false,"state_id":46,"verified":false},{"active":false,"address_line_1":"388
        Cosey Beach Ave","address_line_2":"","business_phone":"ML350 4JGBB8GB3AA569750","city":"East
        Haven","company":"","country_id":1,"created_stamp":"0000-00-00 00:00:00","custom_customer_type":"0","custom_customer_vehicle":"","custom_ups_claim":"no","custom_vehicle":"","customer_id":3,"date_of_birth":"2026-06-25T08:26:52-04:00","email":"scottd@fcpeuro.com","fax":"","first_name":"Scott","id":2,"label":"default","last_name":"Drozd","phone":"[...]
[...]
