---
http_interactions:
- request:
    method: get
    uri: https://api-fcpuat.coresense.com/v1/location/1
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
    body:
      encoding: UTF-8
      string: '{"active":false,"available_for_fulfillment":true,"breadcrumb_label":null,"description":"","height":72,"id":1,"inventory_location_type_id":1,"is_distribution_staging":false,"label":"","length":18,"parent_id":0,"physical_bin":null,"stamp":"2008-04-05T12:32:08-04:00","top_ancestor_id":null,"warehouse_id":1,"width":36}'
  recorded_at: Thu, 25 Jun 2026 12:32:59 GMT
recorded_with: VCR 6.4.0
