---
http_interactions:
- request:
    method: get
    uri: https://api-fcpuat.coresense.com/v1/location
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
    body:
      encoding: ASCII-8BIT
      string: '[{"active":false,"available_for_fulfillment":true,"breadcrumb_label":null,"description":"","height":72,"id":1,"inventory_location_type_id":1,"is_distribution_staging":false,"label":"","length":18,"parent_id":0,"physical_bin":null,"stamp":"2008-04-05T12:32:08-04:00","top_ancestor_id":null,"warehouse_id":1,"width":36},{"active":false,"available_for_fulfillment":true,"breadcrumb_label":null,"description":"","height":0,"id":2,"inventory_location_type_id":2,"is_distribution_staging":false,"label":"Shelf
        01","length":0,"parent_id":1,"physical_bin":null,"stamp":"2008-04-05T12:32:08-04:00","top_ancestor_id":null,"warehouse_id":1,"width":0},{"active":false,"available_for_fulfillment":true,"breadcrumb_label":null,"description":"","height":0,"id":3,"inventory_location_type_id":2,"is_distribution_staging":f[...]
[...]
