---
http_interactions:
- request:
    method: get
    uri: https://api-fcpuat.coresense.com/v1/transfer
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
    body:
      encoding: ASCII-8BIT
      string: '[{"close_date":"2008-04-15T10:09:25-04:00","destination_sublocation_id":0,"destination_warehouse_id":5,"distribution_purchase_order_id":0,"id":1,"issue_date":"2008-04-15T10:03:16-04:00","medium":"email","medium_id":5397,"notes":"","shipping_method_id":51,"source_sublocation_id":0,"source_warehouse_id":1,"status":"Closed","transfer_reason_code_id":0,"verified":false},{"close_date":"2008-04-15T10:09:15-04:00","destination_sublocation_id":0,"destination_warehouse_id":5,"distribution_purchase_order_id":0,"id":2,"issue_date":"2008-04-15T10:03:51-04:00","medium":"email","medium_id":5398,"notes":"","shipping_method_id":51,"source_sublocation_id":0,"source_warehouse_id":1,"status":"Closed","transfer_reason_code_id":0,"verified":false},{"close_date":"2008-04-15T10:05:03-04:00","destination_sublocation_id":0,"destination_warehouse_id":5,"distribution_purchase_[...]
[...]
