---
http_interactions:
- request:
    method: get
    uri: https://api-fcpuat.coresense.com/v1/receiver?q%5B%5D=id=1
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
    body:
      encoding: UTF-8
      string: '[{"comment":"This receiver was created without ASN","exported":false,"id":1,"master_receiving_document_id":10871,"stamp":"2009-04-02T13:29:49-04:00","status":"Received"}]'
  recorded_at: Thu, 25 Jun 2026 12:35:01 GMT
[...]
- request:
    method: get
    uri: https://api-fcpuat.coresense.com/v1/receiver?q%5B%5D=id=%201%20
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
    body:
      encoding: UTF-8
      string: '[{"comment":"This receiver was created without ASN","exported":false,"id":1,"master_receiving_document_id":10871,"stamp":"2009-04-02T13:29:49-04:00","status":"Received"}]'
  recorded_at: Thu, 25 Jun 2026 12:35:03 GMT
recorded_with: VCR 6.4.0
