---
http_interactions:
- request:
    method: get
    uri: https://api-fcpuat.coresense.com/v1/receiver
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
    body:
      encoding: ASCII-8BIT
      string: '[{"comment":"This receiver was created without ASN","exported":false,"id":1,"master_receiving_document_id":10871,"stamp":"2009-04-02T13:29:49-04:00","status":"Received"},{"comment":"This
        receiver was created without ASN","exported":false,"id":2,"master_receiving_document_id":10886,"stamp":"2009-04-02T13:18:35-04:00","status":"Open"},{"comment":"This
        receiver was created without ASN","exported":false,"id":3,"master_receiving_document_id":10901,"stamp":"2009-04-02T13:22:25-04:00","status":"Received"},{"comment":"This
        receiver was created without ASN","exported":false,"id":4,"master_receiving_[...]
[...]
