---
http_interactions:
- request:
    method: get
    uri: https://api-fcpuat.coresense.com/v1/inventory?q%5B%5D=id=2
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
    body:
      encoding: UTF-8
      string: '[{"assoc_entity":null,"assoc_entity_id":0,"build_type":"INV","cogs":1.54,"custom_hazmat_storage":"0","custom_minimum_order_quantity_stock":"0","custom_pick_location_stock_up_qty":"0","description":"","id":2,"inventory_location_id":1432676,"manufacturer_id":48,"pos_order_num":0,"shipping_depth":20,"shipping_height":3,"shipping_weight":11,"shipping_width":6,"sku_id":"655","stamp":"2020-03-06T16:31:17-05:00","status":"damaged","vendor_id":41,"warehouse_id":11}]'
  recorded_at: Thu, 25 Jun 2026 12:31:26 GMT
[...]
- request:
    method: get
    uri: https://api-fcpuat.coresense.com/v1/inventory?q%5B%5D=id=%202%20
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
    body:
      encoding: UTF-8
      string: '[{"assoc_entity":null,"assoc_entity_id":0,"build_type":"INV","cogs":1.54,"custom_hazmat_storage":"0","custom_minimum_order_quantity_stock":"0","custom_pick_location_stock_up_qty":"0","description":"","id":2,"inventory_location_id":1432676,"manufacturer_id":48,"pos_order_num":0,"shipping_depth":20,"shipping_height":3,"shipping_weight":11,"shipping_width":6,"sku_id":"655","stamp":"2020-03-06T16:31:17-05:00","status":"damaged","vendor_id":41,"warehouse_id":11}]'
  recorded_at: Thu, 25 Jun 2026 12:31:27 GMT
recorded_with: VCR 6.4.0
