---
http_interactions:
- request:
    method: get
    uri: https://api-fcpuat.coresense.com/v1/inventory
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
    body:
      encoding: ASCII-8BIT
      string: '[{"assoc_entity":null,"assoc_entity_id":0,"build_type":"INV","cogs":1.54,"custom_hazmat_storage":"0","custom_minimum_order_quantity_stock":"0","custom_pick_location_stock_up_qty":"0","description":"","id":1,"inventory_location_id":1432676,"manufacturer_id":48,"pos_order_num":0,"shipping_depth":20,"shipping_height":3,"shipping_weight":11,"shipping_width":6,"sku_id":"655","stamp":"2020-03-06T16:31:17-05:00","status":"damaged","vendor_id":41,"warehouse_id":11},{"assoc_entity":null,"assoc_entity_id":0,"build_type":"INV","cogs":1.54,"custom_hazmat_storage":"0","custom_minimum_order_quantity_stock":"0","custom_pick_location_stock_up_qty":"0","description":"","id":2,"inventory_location_id":1432676,"manufacturer_id":48,"pos_order_num":0,"shipping_depth":20,"shipping_height":3,"shipping_weight":11,"shipping_width":6,"sku_id":"655","stamp":"2020-03-06T16:31:17-05:00","status":"damaged","vendor_id":41,"warehouse_id":11},{"assoc_entity":"ordered
        it[...]
[...]
